<div *ngIf="currentUser">
  <p>Hello {{currentUser.username}}</p>
  <p>Which city you want to search?</p>
</div>

<form (submit)="searchCity()">
  <div>
    <input [(ngModel)]="cityName" name="cityName" placeholder="Exp. Barcelona, Berlin, İstanbul...">
    <button type="submit">Search</button>
  </div>
</form>

<div *ngIf="fetchedCity.name">
  <cities-city [fetchedCity]="fetchedCity" [fetchedCountry]="fetchedCountry"></cities-city>
</div>

<ul>
  <li *ngFor="let city of cities"></li>
</ul>

<table>
	<template let-group ngFor [ngForOf]="cityComments">
	<tr *ngFor="let row of group.cityId">{{row}}</tr>
	</template>
</table>

<div *ngIf="currentUser && fetchedCity.name">
  <h2>Add your comment</h2>
  <form #commentForm="ngForm" (ngSubmit)="addComment()">
    <textarea name="commentText" [(ngModel)] = "commentText"></textarea>
    <button type="submit" class='btn btn-primary'>Submit</button>
  </form>
</div>